.omx/

# 로그/임시/백업
*.log
*.tmp
*.bak

# 압축/디스크 이미지/ISO
*.7z
*.zip
*.pck
*.vhd
*.vhdx
*.iso

# macOS/Windows 탐색기 메타데이터
.DS_Store
Thumbs.db
desktop.ini

# Python/Node/일반 빌드 산출물
__pycache__/
node_modules/
bin/
obj/
